.hola {
  /* background-color: green; */
  font-size: 20px;
}
.imagen {
  width: 100px;
}
.useremail {
  color: blue;
}
.usertime {
  color: brown;
}
.usertext {
  font-style: italic;
  font-size: 1rem;
  color: green;
}
.botonEnviarMsg {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.botonEnviarMsg:hover {
  background-color: #3e8e41;
}

.botonEnviarMsg:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.mainDiv{
    padding: 20px;
}
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#email{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}
#texto{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
}